<!-- <app-navbar></app-navbar> -->
<section id="card">
  <div class="offre">
    <h2>Dernières Offres</h2><span>Voir plus</span>
  </div>
  <div class="card-container">
  <swiper-container
    pagination="true"
    pagination-clickable="true"
    slides-per-view="3"
    speed="500"
    autoplay-delay="5500"
  >
    <swiper-slide>
      <div class="card">
        <h2>Developpeur Full Stack</h2>
        <p><strong>Entreprise :</strong>ABC Technologies</p>
        <p>Nous recherchons un développeur Full Stack avec des compétences en Angular et Node.js.</p>
        <p><strong><i class="fa-solid fa-location-pin"></i>Lieu :</strong>Paris, France</p>
      <p class="date"><strong><i class="fa-solid fa-calendar-day"></i>Publié le :</strong>15/03/2025</p>
        <div class="buttons">
          <button><a href="#"><i class="fa-solid fa-eye"></i> Voir détail</a></button>
          <button><a href=""><i class="fa-solid fa-paper-plane"></i> Postuler</a></button>
        </div>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="card">
        <h2>Stagiaire Marketing</h2>
        <p><strong>Entreprise :</strong>Marketing Plus</p>
        <p>Assistance dans la création de contenu marketing, gestion des réseaux sociaux.</p>
        <p><strong><i class="fa-solid fa-location-pin"></i>Lieu :</strong>yon, France</p>
        <p class="date"><strong><i class="fa-solid fa-calendar-day"></i>Publié le :</strong>10/03/2025</p>
        <div class="buttons">
          <button><a href="#"><i class="fa-solid fa-eye"></i> Voir détail</a></button>
          <button><a href=""><i class="fa-solid fa-paper-plane"></i> Postuler</a></button>
        </div>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="card">
        <h2>Développeur Backend</h2>
        <p><strong>Entreprise :</strong>Tech Innovators</p>
        <p>Recherche d'un développeur backend avec une expérience en Java et Spring Boot.</p>
        <p><strong><i class="fa-solid fa-location-pin"></i>Lieu :</strong>arseille, France</p>
        <p class="date"><strong><i class="fa-solid fa-calendar-day"></i>Publié le :</strong>5/03/2025</p>
        <div class="buttons">
          <button><a href="#"><i class="fa-solid fa-eye"></i> Voir détail</a></button>
          <button><a href=""><i class="fa-solid fa-paper-plane"></i> Postuler</a></button>
        </div>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="card">
        <h2>Développeur Backend</h2>
        <p><strong>Entreprise :</strong>Tech Innovators</p>
        <p>Recherche d'un développeur backend avec une expérience en Java et Spring Boot.</p>
        <p><strong><i class="fa-solid fa-location-pin"></i>Lieu :</strong>arseille, France</p>
        <p class="date"><strong><i class="fa-solid fa-calendar-day"></i>Publié le :</strong>5/03/2025</p>
        <div class="buttons">
          <button><a href="#"><i class="fa-solid fa-eye"></i> Voir détail</a></button>
          <button><a href=""><i class="fa-solid fa-paper-plane"></i> Postuler</a></button>
        </div>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="card">
        <h2>Développeur Backend</h2>
        <p><strong>Entreprise :</strong>Tech Innovators</p>
        <p>Recherche d'un développeur backend avec une expérience en Java et Spring Boot.</p>
        <p><strong><i class="fa-solid fa-location-pin"></i>Lieu :</strong>arseille, France</p>
        <p class="date"><strong><i class="fa-solid fa-calendar-day"></i>Publié le :</strong>5/03/2025</p>
        <div class="buttons">
          <button><a href="#"><i class="fa-solid fa-eye"></i> Voir détail</a></button>
          <button><a href=""><i class="fa-solid fa-paper-plane"></i> Postuler</a></button>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
  </div>
</section>
