<app-navbar></app-navbar>
<app-searchbar></app-searchbar>

<div class="offers-container">
  <h2>Offres d'emploi</h2>

  <!-- Barre de recherche -->
  <!-- <div class="search-bar">
    <input
      type="text"
      placeholder="Rechercher une offre ou une entreprise..." />
  </div> -->

  <div class="offers-list">
    <!-- Exemple d'offre 1 -->
    <div class="offer-card">
      <h3>Développeur Full Stack</h3>
      <p><strong>Entreprise :</strong> ABC Technologies</p>
      <p>Nous recherchons un développeur Full Stack avec des compétences en Angular et Node.js.</p>
      <p><strong><i class="fa-solid fa-location-pin"></i> Lieu :</strong> Paris, France</p>
      <p><strong><i class="fa-solid fa-calendar-day"></i> Publié le :</strong> 15/03/2025</p>
      <button>Postuler</button>
    </div>


    <!-- Exemple d'offre 2 -->
    <div class="offer-card">
      <h3>Stagiaire Marketing</h3>
      <p><strong>Entreprise :</strong> Marketing Plus</p>
      <p>Assistance dans la création de contenu marketing, gestion des réseaux sociaux.</p>
      <p><strong>Lieu :</strong> Lyon, France</p>
      <p><strong>Publié le :</strong> 10/03/2025</p>
      <button>Postuler</button>
    </div>

    <!-- Exemple d'offre 3 -->
    <div class="offer-card">
      <h3>Développeur Backend</h3>
      <p><strong>Entreprise :</strong> Tech Innovators</p>
      <p>Recherche d'un développeur backend avec une expérience en Java et Spring Boot.</p>
      <p><strong>Lieu :</strong> Marseille, France</p>
      <p><strong>Publié le :</strong> 05/03/2025</p>
      <button>Postuler</button>
    </div>

    <!-- Exemple d'offre 4 -->
    <div class="offer-card">
      <h3>Stagiaire Marketing</h3>
      <p><strong>Entreprise :</strong> Marketing Plus</p>
      <p>Assistance dans la création de contenu marketing, gestion des réseaux sociaux.</p>
      <p><strong>Lieu :</strong> Lyon, France</p>
      <p><strong>Publié le :</strong> 10/03/2025</p>
      <button>Postuler</button>
    </div>
  </div>
</div>

<app-footer></app-footer>
