<header>
  <a routerLink="/home" class="logo">Logo</a>
  <nav>
    <ul class="links">
      <li><a routerLink="/home">Accueil<i class="fa-solid fa-house"></i></a></li>
      <li><a routerLink="/offres">Offres d'emploi<i class="fa-solid fa-tags"></i></a></li>
      <li><a routerLink="/stages">Stages<i class="fa-solid fa-briefcase"></i></a></li> <!-- Changé "tags" en "briefcase" pour mieux représenter les stages -->
      <li class="dropdown">
        <a routerLink="/compte">Compte<i class="fa-solid fa-user"></i></a>
        <ul class="dropdown-content">
          <li><a routerLink="/register">S'inscrire<i class="fa-solid fa-user-plus"></i></a></li>
          <li><a routerLink="/login">Connexion<i class="fa-solid fa-right-to-bracket"></i></a></li>
        </ul>
      </li>
      <li><a routerLink="/contact">Contact<i class="fa-solid fa-envelope"></i></a></li>
    </ul>
  </nav>
</header>
