.container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.success-container {
  text-align: center;
  padding: 50px;
}

.success-message {
  padding: 20px;
  color: #155724;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 8px;
  margin-bottom: 20px;
  border: 1px solid #c3e6cb;
  background-color: #d4edda;
}

.success-message i {
  margin-right: 8px;
  font-size: 1.8rem;
}

.btn-back {
  display: flex;
  color: #fff;
  border: none;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
  align-items: center;
  padding: 10px 20px;
  justify-content: center;
  background-color: #28a745;
}

.btn-back i {
  padding-right: 10px;
}

.btn-back:hover {
  background-color: #218838;
}

.animated-btn {
  opacity: 0;
  animation: fadeInText 0.6s ease-out 0.6s forwards;
}

@keyframes fadeInZoom {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeInText {
  to {
    opacity: 1;
  }
}

/* Responsive */
@media (max-width: 600px) {
.container {
  margin: 0 0 0 80px;
  /* border: 100px solid #000; */
}

  .success-message {
    font-size: 1.2rem;
    padding: 15px;
  }

  .success-message i {
    font-size: 1.5rem;
  }

  .btn-back {
    width: 100%;
    font-size: 1rem;
    padding: 10px;
  }
}
