<footer>
  <div class="footer-content">
    <div class="desc">
      <a href="#" class="logo">Logo</a>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Sapiente illo inventore, facilis neque quidem suscipit blanditiis
        sed. Facere, nemo porro Lorem, ipsum dolor sit amet consectetur
        adipisicing elit. Beatae, Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Exercitationem, aut! ex..</p>
    </div>

    <div class="footer-icons">
      <h2>Navigation</h2>
      <ul class="links">
        <li><a href="#">Accueil<i class="fa-solid fa-house"></i></a></li>
        <li><a href="#">Offres<i class="fa-solid fa-tags"></i></a></li>
        <li><a href="#">A propos<i class="fa-solid fa-circle-info"></i></a></li>
        <li class="dropdown">
          <a href="#">Compte<i class="fa-solid fa-user"></i></a>
        </li>
        <li><a href="#">Contact<i class="fa-solid fa-envelope"></i></a></li>
      </ul>
    </div>

    <div class="footer-contact">
      <h2>Contacter nous</h2>
      <ul class="links">
        <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
      </ul>
    </div>
  </div>
</footer>
