footer {
  padding: 40px 60px;
  background-color: #00416A; /* Bleu foncé */
}

.footer-content {
  gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-content .desc .logo {
  color: #FFFFFF; /* Blanc */
  font-size: 40px;
  font-weight: 600;
  text-decoration: none;
  text-shadow: 2px 0 15px #000;
}

.desc p {
  color: #FFFFFF; /* Blanc */
  font-size: 20px;
  text-shadow: 5px 5px 15px #000;
}

.footer-icons {
  padding: 10px;
  border-radius: 10px;
}

.footer-icons h2 {
  color: #FFFFFF; /* Blanc */
  font-size: 30px;
  margin: 10px 0;
  text-align: center;
  text-decoration: underline;
}

.footer-icons ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer-icons ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-icons ul li i {
  margin-left: 5px;
}

.footer-icons li {
  margin: 10px;
}

.footer-icons li a {
  display: flex;
  color: #FFFFFF; /* Blanc */
  padding: 10px;
  font-size: 22px;
  border-radius: 5px;
  text-decoration: none;
  justify-content: center;
  border: 1px solid #FFFFFF; /* Blanc */
}

.footer-icons li a:hover {
  color: #08C5D1; /* Couleur hover bleu clair */
  border: 1px solid #0077B6; /* Couleur bordure hover bleu clair */
  box-shadow: 2px 2px 10px #0077B6; /* Ombre hover bleu clair */
  transition: all .4s ease-in-out;
}

.footer-content .footer-icons ul {
  list-style: none;
}

.footer-contact {
  padding: 20px 40px;
  border-radius: 10px;
}

.footer-contact h2 {
  color: #FFFFFF; /* Blanc */
  font-size: 30px;
  text-align: center;
  text-decoration: underline;
}

.footer-contact .links {
  display: flex;
  list-style: none;
  margin: 20px 0;
  padding: 10px 20px;
  justify-content: center;
}

.footer-contact .links li a {
  color: #FFFFFF; /* Blanc */
  font-size: 30px;
  text-decoration: none;
}

.footer-contact .links li a i {
  padding: 10px;
  font-size: 50px;
  margin: 0 10px;
  border-radius: 10px;
}

.footer-contact .links li a .fa-facebook:hover {
  background-color: #1877F2; /* Bleu Facebook */
  transition: background-color .4s ease-in;
}

.footer-contact .links li a .fa-instagram:hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.footer-contact .links li a .fa-linkedin:hover {
  background-color: #0A66C2; /* Bleu LinkedIn */
  transition: background-color .4s ease-in;
}

.footer-contact .links li a .fa-twitter:hover {
  background-color: #1DA1F2; /* Bleu Twitter */
  transition: background-color .4s ease-in;
}

/* Responsive */
@media (max-width: 1024px) {
  .footer-content {
    grid-template-columns: 1fr;
  }

  .footer-icons ul {
    grid-template-columns: 1fr;
  }

  .footer-contact .links {
    flex-wrap: wrap;
  }

  .footer-contact .links li a i {
    font-size: 40px;
    margin: 10px;
  }

  .desc p {
    font-size: 18px;
  }

  .footer-icons li a {
    font-size: 20px;
  }
}

/* @media (max-width: 1024px) {
  .footer-content {
    grid-template-columns: 1fr;
  }

  .footer-icons ul {
    grid-template-columns: 1fr;
  }

  .footer-contact .links {
    flex-wrap: wrap;
  }

  .footer-contact .links li a i {
    font-size: 40px;
    margin: 10px;
  }

  .desc p {
    font-size: 18px;
  }

  .footer-icons li a {
    font-size: 20px;
  }
} */
