<app-navbar></app-navbar>

<main>
  <section class="hero-section">
    <div class="hero-content">
      <h1>Préparez votre avenir professionnel dès aujourd'hui.</h1>
      <p>Accédez à des stages, des offres d’emploi et entrez en relation avec des entreprises partenaires.</p>

      <div class="searchbar-wrapper">
        <app-searchbar></app-searchbar>
      </div>
    </div>
  </section>

  <app-offre-list></app-offre-list>
  <!-- <section id="objectif">
      <h2 class="h2">Pourquoi nous choisir ?</h2>
      <div class="objectif-container">

        <swiper-container
        navigation="true"
        pagination="true"
        pagination-clickable="true"
        slides-per-view="4"
        speed="500"
        autoplay-delay="2500"
        >
        <swiper-slide>
          <div class="card">
            <h2> Offres Vérifiées <i class="fa-solid fa-check"></i></h2>
            <p>Nous vérifions chaque offre pour vous garantir des opportunités sérieuses et adaptées à vos compétences</p>
          </div>
        </swiper-slide>

        <swiper-slide>
          <div class="card">
            <h2>Processus Simplifié <i class="fa-solid fa-rocket"></i></h2>
            <p>Postulez en quelques clics et suivez vos candidatures en temps réel, sans complications.</p>
          </div>
        </swiper-slide>

        <swiper-slide>
          <div class="card">
            <h2>Support 24/7 <i class="fa-solid fa-headset"></i></h2>
            <p>Notre équipe est disponible 24h/24 et 7j/7 pour répondre à vos questions et vous accompagner.</p>
          </div>
        </swiper-slide>

        <swiper-slide>
          <div class="card">
            <h2>Large Choix d'Offres <i class="fa-solid fa-folder-open"></i></h2>
            <p>Accédez à des milliers d'offres de stage et d'emploi dans tous les domaines et toutes les régions.</p>
          </div>
        </swiper-slide>

        <swiper-slide>
          <div class="card">
            <h2>Tableau de Bord Personnalisé <i class="fa-solid fa-chart-line"></i></h2>
            <p>Suivez l'état de vos candidatures et organisez vos recherches grâce à un tableau de bord intuitif.</p>
          </div>
        </swiper-slide>

        <swiper-slide>
          <div class="card">
            <h2>Conseils et Ressources <i class="fa-solid fa-book-open"></i></h2>
            <p>Bénéficiez de conseils pratiques, de modèles de CV et de lettres de motivation pour maximiser vos chances.</p>
          </div>
        </swiper-slide>

        <swiper-slide>
          <div class="card">
            <h2>Sécurité des Données <i class="fa-solid fa-shield-halved"></i></h2>
            <p>Vos données personnelles sont protégées et confidentielles, conformément aux normes les plus strictes.</p>
          </div>
          </swiper-slide>
        </swiper-container>
      </div>
  </section> -->
</main>

<app-footer></app-footer>
